<form action="/bookmarks" method="post">                   
  <input type="hidden" name="bookmark_id" value="<%= @bookmark.id %>">
  <input type="hidden" name="_method" value="PUT">
    <label for="bookmark_url">URL</label>            
  <input type="text" name="bookmark_url">
    <label for="bookmark_title">Title</label>
  <input type="text" name="bookmark_title">
  <input type="submit" value="Update">
</form>